# =========================================================
#                S E T T I N G S . T O M L
# ---------------------------------------------------------
# Please see README.md for instructions on how to use 
# these settings and their effects
# =========================================================

ROTATION = 0            # [0, 90, 180, 270] - default rotation for Sense HAT LED
DISPLAY = 0             # [0..10] - default display mode
PROGRESS = 0            # [0|1] - 1 = show upload progress bar on LED
SLEEP = 600             # Delay in seconds until screen is blanked
